<title>test</title>
<meta charset="utf-8">
<meta name="keywords" content="Smart Gorori | エンジニアblog">
<meta name="description" content="python,node.js,Machine Learning,Deep Learningの情報記載">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Bad+Script|Chewy|Crafty+Girls|Fredericka+the+Great|Indie+Flower|Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />
