.container {
    width:90%;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

.category-box {
    width:100%;
    margin:10px 0px;
    padding: 0px;
    letter-spacing: -.40em;
    
    &__btn {
        color : #000;
        font-size:20px;
        font-weight: 800;
        font-family: sans-serif;
        letter-spacing: normal;
        margin-right: 15px;
        display:inline-block;
    
        @media screen and (max-width: 768px) {
            width: 25%;
            font-size: 16px;
            text-align: center;
            margin: 0px;
        } 
    
        &:hover {
            color: #7fbfff;
            cursor: pointer;
        }
    
        &--state_current {
            color: #7fbfff;
        }
    }
}

.article-box {
    width:100%;
    margin:0px;
    padding:0px;
    letter-spacing: -.40em;
    
    &_column {
        letter-spacing: normal;
        width:25%;
        margin:20px 0px;
        padding: 0px;
        display:inline-block;
        box-sizing: border-box;
        
        @media screen and (min-width: 480px) and (max-width: 768px) {
            width: 50%;
            margin:10px 0px;
        } 
        
        @media screen and (max-width: 479px) {
            width: 100%;
            margin:10px 0px;
        } 
    
        &__img {
            width:80%;
            border-radius:50%;
            margin:0px auto;
            padding:0px;
            display:block;
            /*border: solid 2px #000;*/
            box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            
            &:hover {
                cursor: pointer;
                animation: article-hover 0.4s linear 0s 2 normal;
            }
            
            @keyframes article-hover {
                0% {
                    transform: scale(1,1);
                }
                20%{
                    transform: scale(1.05,1);
                }
                40% {
                    transform: scale(1.1,1.05);
                }
                60%{
                    transform: scale(1.05,1.1);
                }
                80%{
                    transform: scale(1,1.05);
                }
                100% {
                    transform: scaleY(1,1);
                }
            }
        }
    
        &__title {
            font-size:16px;
            font-weight: 600;
            font-family: sans-serif;
            color: #000;
            text-align: center;
            margin:10px 0px 0px;
            padding:0px;
        }
    }
}

.article-content {
    width:100%;
    margin:0px 0px 30px;
    padding:20px;
    background-color:black;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    display:none;
    
    &_inner-white {
        width:100%;
        margin:auto;
        padding:5px;
        background-color:#fff;
        box-sizing: border-box;
        
        &__day {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 200;
            margin-bottom:30px;
        }
    
        &__title {
            text-align: center;
            font-family: monospace;
            font-size:30px;
            font-weight: 800;
            margin-bottom:80px;
        }
    
        &__desc {
            text-align: center;
            font-family: monospace;
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 30px;
        }
    }
}