*{
    margin:0px;
    padding:0px;
}

body {
    padding:0px;
    margin:0px;
    background-color: #E6E6FA;
}

header {
    box-sizing: border-box;
    margin:0;
    padding:0 10px 0;
    width:100%;
    height:40px;
    background-color: #000;
}

div {
    padding:0px;
    margin:0px;
}

h1 {
    line-height: 40px;
    font-family: 'Indie Flower', cursive;
    margin:0px;
    font-size: 20px;
    color: #fff;
}

a {
    text-decoration: none;
}

p {
    margin:0px;
    padding: 0px;
}

ul,li {
    margin:0px;
    padding: 0px;
    text-decoration: none;
}

img {
    padding:0px;
    margin:0px;
}