<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    
    <!--
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true
            })
        });
    </script>
    -->
    
    <script>
        $(document).ready(function () {
            $.getJSON('articles.json' , function(articles) {
                for(var i in articles){
                    for(var i2 in articles[i].content) {
                        $('.article-box').append(
                            "<div class='article-box_column'>" +
                            "<img src='" + articles[i].content[i2].img + "' alt='' class='article-box_column__img'>" +
                            "<p class='article-box_column__title'>" + articles[i].content[i2].title + "<br>" + 
                            articles[i].content[i2].date + "</p>" + "</div>"
                        );
                    }
                }
            });
        });
    </script>
    
</head>

<body>
    <% include ../partials/header.ejs %>
    
    <!--
    <div class='bxslider'>
        <div><img src='images/carousel/image_02.jpg' alt=''></div>
        <div><img src='images/carousel/image_01.jpg' alt=''></div>
        <div><img src='images/carousel/image_03.jpg' alt=''></div>
        <div><img src='images/carousel/image_04.jpg' alt=''></div>
        <div><img src='images/carousel/image_05.jpg' alt=''></div>
    </div>
    -->
    
    <script type='text/javascript'>
        $(function(){
            $(document).on('click','.category-box__btn',function(){
                    
                if($(this).hasClass('category-box__btn--state_current')){
                    $('.article-content').fadeOut();
                    $('.article-box').empty();
                }
                else{
                    $('.category-box__btn--state_current').removeClass('category-box__btn--state_current');
                    $(this).addClass('category-box__btn--state_current');
                    $('.article-content').fadeOut();
                    $('.article-box').empty();
                    
                }
                
                var categoryNumber = $(this).val();
                $('.test').text(categoryNumber);    
                    
                    $.getJSON('articles.json' , getArticle);
                    function getArticle(data) {
                        /*
                        const d1 = new Date();
                        while (true) {
                            const d2 = new Date();
                            if (d2 - d1 > 500) {
                                break;
                            }
                        }
                        */
                        if (categoryNumber == '100') {
                            for(var i in data){
                                for(var i2 in data[i].content) {
                                    $('.article-box').append(
                                    "<div class='article-box_column'>" +
                                    "<img src='" + data[i].content[i2].img + "' alt='' class='article-box_column__img'>" +
                                    "<p class='article-box_column__title'>" + data[i].content[i2].title + "<br>" + 
                                    data[i].content[i2].date + "</p>" + "</div>"
                                    );
                                }
                            }
                        }
                        else {
                            for(var i in data[categoryNumber].content) {
                                $('.article-box').append(
                                    "<div class='article-box_column'>" +
                                    "<img src='" + data[categoryNumber].content[i].img + "' alt='' class='article-box_column__img'>" +
                                    "<p class='article-box_column__title'>" + data[categoryNumber].content[i].title + "<br>" + 
                                    data[categoryNumber].content[i].date + "</p>" + "</div>"
                                );
                            }
                        }    
                    }
                
            });
                
            
            $(document).on('click','.article-box_column__img',function(){
                $('.article-box_column').fadeOut();
                $(this).parent('.article-box_column').fadeIn();
                $('.article-content').fadeIn();
            });
        });
    </script>
    
    <div class='container'>
        <ul class='category-box'>
            <li class='category-box__btn category-box__btn--state_current' value='100'>All</li>
            <li class='category-box__btn' value='1'>NodeJS</li>
            <li class='category-box__btn' value='0'>Python</li>
            <li class='category-box__btn' value='2'>Other</li>
        </ul>
    </div>
    
    <div class='container'>
        <p class='test'>value</p>
    </div>
    
    <div class='container'>
        <div class='article-box'>
        </div>
    </div>
    
    <div class='container'>
        <div class='article-content article-content--number_1'>
            <div class='article-content_inner-white'>
                <p class="article-content_inner-white__day">2017-02-22</p>
                <p class='article-content_inner-white__title'>ワッキー</p>
                <p class='article-content_inner-white__desc'>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                    ここに本文書くんだよ。おい、怒<br>
                <p>
            </div>
        </div>
    </div>


</body>
</html>
