<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
    
    <div class = 'top_image' style="background-image: url('images/top/image_01.jpg');">
        <p>脇山はこの世界に革命を起こす</p>
    </div>


</body>
</html>
