<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <script src="js/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/jquery.bxslider.css" />
    
    <!--
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true
            })
        });
    </script>
    -->
    
    <script>
        $(document).ready(function () {
            $.getJSON('articles.json' , function(articles) {
                for(var i in articles){
                    for(var i2 in articles[i].content) {
                        $('.article-box').append(
                            "<div class='article-box_column'>" +
                            "<a href='"+  articles[i].category + "/" + articles[i].content[i2].id + "'><img src='" + articles[i].content[i2].img + "' alt='' class='article-box_column__img'></a>" +
                            "<p class='article-box_column__title'>" + articles[i].content[i2].title + "</p>" + 
                            "<p class='article-box_column__date'>" + articles[i].content[i2].date + "</p>" + "</div>"
                        );
                    }
                }
            });
        });
    </script>
    
</head>

<body>
    <% include ../partials/header.ejs %>
    
    <!--
    <div class='bxslider'>
        <div><img src='images/carousel/image_02.jpg' alt=''></div>
        <div><img src='images/carousel/image_01.jpg' alt=''></div>
        <div><img src='images/carousel/image_03.jpg' alt=''></div>
        <div><img src='images/carousel/image_04.jpg' alt=''></div>
        <div><img src='images/carousel/image_05.jpg' alt=''></div>
    </div>
    -->
    
    <script type='text/javascript'>
        $(function(){
            $(document).on('click','.category-box__btn',function(){
                    
                if($(this).hasClass('category-box__btn--state_current')){
                    $('.article-content').fadeOut();
                    $('.article-box').empty();
                }
                else{
                    $('.category-box__btn--state_current').removeClass('category-box__btn--state_current');
                    $(this).addClass('category-box__btn--state_current');
                    $('.article-content').fadeOut();
                    $('.article-box').empty();
                    
                }
            });
                
            /*
            $(document).on('click','.article-box_column__img',function(){
                $('.article-box_column').fadeOut();
                $(this).parent('.article-box_column').fadeIn();
                $('.article-content').fadeIn();
            });
            */
        });
        
        function funcAddArticles(categoryNumber) {
                $.getJSON('articles.json' , getArticle);
                function getArticle(data) {
                    if (categoryNumber == 100) {
                        for(var i in data){
                            for(var i2 in data[i].content) {
                                $('.article-box').append(
                                    "<div class='article-box_column'>" +
                                    "<a href='"+  data[i].category + "/" + data[i].content[i2].id + "'><img src='" + data[i].content[i2].img + "' alt='' class='article-box_column__img'></a>" +
                                    "<p class='article-box_column__title'>" + data[i].content[i2].title + "</p>" + 
                                    "<p class='article-box_column__date'>" + data[i].content[i2].date + "</p>" + "</div>"
                                );
                            }
                        }
                    }
                    else {
                        for(var i in data[categoryNumber].content) {
                            $('.article-box').append(
                                "<div class='article-box_column'>" +
                                "<a href='"+  data[categoryNumber].category + "/" + data[categoryNumber].content[i].id + "'><img src='" + data[categoryNumber].content[i].img + "' alt='' class='article-box_column__img'></a>" +
                                "<p class='article-box_column__title'>" + data[categoryNumber].content[i].title + "</p>" + 
                                "<p class='article-box_column__date'>" + data[categoryNumber].content[i].date + "</p>" + "</div>"
                            );
                        }
                    }    
                }
            }
    </script>
    
    <div class='container'>
        <div class='category-box'>
            <a class='category-box__btn category-box__btn--state_current' href='javascript:void(0)' onClick='funcAddArticles(100)'>All</a>
            <a class='category-box__btn' href='javascript:void(0)' onClick="funcAddArticles(1)">NodeJS</a>
            <a class='category-box__btn' href='javascript:void(0)' onClick="funcAddArticles(0)">Python</a>
            <a class='category-box__btn' href='javascript:void(0)' onClick="funcAddArticles(2)">Other</a>
        </div>
    </div>
    
    <div class='container'>
        <div class='article-box'>
        </div>
    </div>
</body>
</html>
